/* In descending size*/
.Title{
  text-align: center;
}


.board {
  margin: 0 auto;
  width:600px;
  height: 600px;
  background-color: white;
  border:2px solid;

}



.gameRow {
  display:inline-block;
  width:500px;
  height:150px;
}


